<% layout("/layouts/boilerplate.ejs") %>


<!-- ==================== -->
<!-- map START-->
<!-- ==================== -->
<div class="row m-0 mb-5">
    <div class="custom-map2" id="map"></div>
</div>
<!-- ==================== -->
<!-- map END -->
<!-- ==================== -->


<div class="row px-4 mb-1">
    <p class="col-md-12 h2">
        <%= campById.title %>
    </p>
</div>

<div class="row px-4">
    <!-- ==================== -->
    <!-- campground details section START -->
    <!-- ==================== -->
    <section id="camp-details" class="card border-0 col-md-6 m-0 p-0">
        <div class="card-body">
            <!-- images carousel start -->
            <div class="card-image">
                <div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel"
                data-bs-interval="3000">
                    <div class="carousel-inner custom-height-400">
                        <!-- 1st image of carousel must have a class of "active". I am exluding the 1st image from the loop -->
                        <div class="carousel-item active">
                            <img src="<%= campById.images[0] %> " class="d-block rounded w-100 custom-img-height">
                        </div>
                        <% for (let image of campById.images.slice(1)) { %>
                            <div class="carousel-item" data-bs-interval="3000">
                                <img src="<%= image %> " class="d-block rounded w-100 custom-img-height">
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <!-- end of images carousel -->
            
            <p class="card-text my-4">
                <%= campById.description %>
            </p>

            <ul class="list-group list-group-flush">
                <li class="list-group-item px-0"><strong>Location: </strong>
                    <%= campById.location %>
                </li>
                <li class="list-group-item px-0"><strong>Price: </strong>$<%= campById.price %> /per person per night
                </li>
            </ul>
            
            <!-- edit / delete campground buttons subsection -->
            <div class="d-flex mt-4">
                <% if (isAuthenticatedUser && campById.owner.equals(isAuthenticatedUser._id)) { %>
                    <a class="btn btn-success" href="/campgrounds/<%= campById._id %>/edit"><i class="fa-solid fa-pen"></i>
                    </a>
                    <div class="ms-auto">
                        <form action="/campgrounds/<%= campById._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-outline-danger text-danger">
                                <li class="fa-solid fa-trash"></li>
                            </button>
                        </form>
                    </div>
                <% } %>
            </div>
        </div>
    </section>
    <!-- ==================== -->
    <!-- camp details section END -->
    <!-- ==================== -->
        
    <!-- ==================== -->
    <!-- reviews section START -->
    <!-- ==================== -->
    <section class="col-md-5 mt-5 mt-md-3 mb-5 mb-md-0">
        <!-- write review subsection -->
        <% if (isAuthenticatedUser) { %>
            <!-- the user can write a review if they are authenticated through Passport -->
            <div class="card mb-4 my-md-0" id="reviews-form">
                <div class="card-body">
                    <h5 class="mb-4">Write a Review</h5>
                    <form class="needs-validation" action="/campgrounds/<%= campById._id %>/reviews" method="POST"
                        novalidate>
                        <!-- star rating subsection -->
                        <div class="mb-2">
                            <p>Rating</p>
                            <fieldset class="starability-basic">
                                <input type="radio" id="first-rate1" name="rating" value="1" checked/>
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="rating" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="rating" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="rating" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="rating" value="5" />
                                <label for="first-rate5" title="Outstanding">5 stars</label>
                            </fieldset>
                        </div>
                        <!-- comment subsection -->
                        <div class="mb-4">
                            <label for="comment" class="form-label">Comment</label>
                            <textarea class="form-control" id="comment" name="comment" rows="4" required></textarea>
                        </div>
                        <!-- submit button subsection -->
                        <div class="d-flex">
                            <button type="submit" class="btn btn-primary ms-auto"><i class="fa-solid fa-check me-2"></i>Post Review</button>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
        
        <!-- display reviews subsection -->
        <div id="visitor-reviews" class="">
            <div class="card border-0">
                <div class="card-body p-0">
                    <h5 class="card-text mb-3">Reviews</h5>
                    <div class="custom-reviews-overflow">
                        <!-- no reviews <p> -->
                        <% if (campById.reviews.length === 0) { %>
                            <p class="card-text">No reviews yet</p>
                        <% } %>
                        <!-- end of no reviews <p> -->
                        <!-- display a card for each review if any on record -->
                        <% for(let review of campById.reviews) { %>
                            <div class="card border-0 border-bottom py-3">
                                <p class="card-text fw-bolder small">
                                    <%= review.author.username %>
                                </p>
                                <p class="starability-result" data-rating="<%= review.rating %>"></p>
                                <p class="card-text text-secondary small mt-3">
                                <%= review.comment %>
                                </p>    
                                <!-- delete a review if the user is logged in and is the author of review -->
                                <% if (isAuthenticatedUser && review.author.equals(isAuthenticatedUser._id)) { %>
                                    <form action="/campgrounds/<%= campById._id %>/reviews/<%= review._id %>?_method=DELETE"
                                        method="POST">
                                        <div class="d-flex">
                                            <button class="btn btn-outline-danger ms-auto">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </div>
                                    </form>
                                <% } %>
                            </div>
                        <% } %>
                        <!-- end of reviews cards -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end of display reviews subsection -->
    </section>
    <!-- ==================== -->
    <!-- reviews section END -->
    <!-- ==================== -->
</div>
    
<div class="pb-4 px-4">
    <a class="text-dark text-decoration-none text-start" href="/campgrounds"><i class="fa-solid fa-chevron-left me-2"></i>Back
    </a>
</div>

        
<!-- ==================== -->
<!-- scripts START -->
<!-- ==================== -->
<!-- 
    * "campgroundCoordinates" is getting passed into "mapboxMapScript.js"
    * "campgroundCoordinates" must be declared before running the "mapboxMapScript.js" script 
-->
<script>
    const campgroundCoordinates = <%- JSON.stringify(campById) %>
</script>
<script src="/js/mapbox-map.js"></script>
<!-- ==================== -->
<!-- scripts END -->
<!-- ==================== -->